<ng-container *ngIf="!!selectedNewsSourcesNames.length">
  <div class="multiselect-dropdown-row">
    <form class="multiselect-dropdown-form" [formGroup]="multiSelectForm">
      <ng-multiselect-dropdown class="multiselect-dropdown-class"
                               name="newsSourceNames"
                               [data]="newsSourcesNames"
                               [placeholder]="'Wybierz Źródła Wiadomości'"
                               formControlName="newsSourceNames"
                               [settings]="dropdownSettings"
                               (onSelect)="onItemSelect($event)"
                               (onDeSelect)="onItemDeSelect($event)"
                               (onSelectAll)="onSelectAll($event)"
                               (onDeSelectAll)="onDeSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </form>
  </div>
</ng-container>
