.info {
  height: 50vh;
}



.multiselect-dropdown-row {
  width: 100%;
  margin: 8px 30px;
}

.multiselect-dropdown-form {
  box-shadow: 0px 1px 2px #ee495f;
  border-radius: 5px;
  width: 100%;
}



.multiselect-dropdown-class .multiselect-dropdown .dropdown-btn{
  border: 1px solid #ee495f !important;
}

.multiselect-dropdown-class .multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #ee495f !important;
  background: #ee495f !important;
}

.multiselect-item-checkbox input:checked + div:before {

  background: #ee495f !important;
}

.multiselect-item-checkbox input + div:before {
  border: 2px solid #ee495f !important;
}

.dropdown-list[_ngcontent-c5] {
  border: 1px solid #ee495f !important;
  box-shadow: 0 1px 5px #ee495f !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 10px solid #ee495f !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 10px solid #ee495f !important;
}
