$messageFormInvalidColor: #c40c0c;
$errorMessageBg:  #c40c0c2d;

.error-msg {
  position: relative;
  border: 1px solid $messageFormInvalidColor;
  border-radius: 8px;
  background-color: $errorMessageBg;
  color: $messageFormInvalidColor;
  font-size: 15px;
  font-weight: bold;
i {
  padding: 16px;
  font-size: 24px;
  vertical-align: sub;
}
}

.close-x:before {
  content: 'x';
}

.close-x {
  color: $messageFormInvalidColor;
  font-size: 14px;
  position: absolute;
  right: 16px;
  text-decoration: none;
  text-shadow: 0 1px 0 $errorMessageBg;
  top: 5px;
  cursor: pointer;
}
