<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <app-sources-multi-select-dropdown (sources)="onSourcesChanges($event)"></app-sources-multi-select-dropdown>
    </div>
    <div class="col-lg-6 col-md-12">
      <app-date-range-picker (onSelectValue)="onDateChanges($event)"></app-date-range-picker>
    </div>
  </div>
</div>
<ng-container *ngIf="!news">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="!!news">
  <ng-container *ngIf="!news.length">
    <h6 class="text-center align-middle p-5">Nie ma wiadomości spełniających wybrane kryteria! Zmień zakres dat lub
      źródła wiadomości!</h6>
  </ng-container>
  <ng-container *ngIf="!!news.length">
    <app-display-news [news]="news"></app-display-news>
  </ng-container>
</ng-container>

