body {
  scroll-behavior: smooth;
}

.content {
  padding-top: 100px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  /* display: block; */
  text-decoration: none;
  border-radius: 35px;
  /* display: none; */
  transition: all 0.3s ease;
  z-index:9999;

}

@media (max-width: 800px) {
  #return-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    /* display: block; */
    text-decoration: none;
    border-radius: 35px;
    /* display: none; */
    transition: all 0.3s ease;
    z-index:9999;
  }

}

#return-to-top i {
  margin: 0;
  position: relative;
  opacity: 0.6;
  font-size: 30px;
  transition: all 0.3s ease;
}
#return-to-top i:hover {
  opacity: 1;
}
/* #return-to-top:hover i {
	color: #fff;
	top: 5px;
} */
