
.date-range label {
  padding: 8px;
  margin-bottom: 0.5rem;
}

.date-input {
  border: 2px solid #ee495f;
  border-radius: 5px;
  width: 135px;
  text-align: center;
}

.date-input:focus {
  background: rgba(238, 73, 95, 0.1);
  outline: none;
}

.date-range {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
}
