.spinner-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

.spinners {
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spinner-anima 2s ease-in-out infinite;
}
.spinners .spinner {
  box-shadow: 1px 1px 3px rgba(149, 50, 63, 0.7);
  position: absolute;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform-origin: 7px 40px;
  animation: spinner-anima 2s ease-in-out infinite;
}
.spinners .spinner-01 {
  background-color: #ee495f;
}
.spinners .spinner-02 {
  background-color: rgba(238, 73, 95, 0.4);
}
.spinners .spinner-03 {
  background-color: rgba(238, 73, 95, 0.2);
}

@keyframes spinner-anima {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
