<div class="container" *ngFor="let item of news">
  <div class="row news-container" *ngIf="item.title">
    <div class="col-12 news-title">
      <a href={{item.url}} target="_blank" data-toggle="tooltip" data-placement="bottom" title={{item.description}}> {{ item.title}} </a>
      <div class="news-source" *ngIf="item.source.name"> ({{ item.source.name  }}) </div>
      <div class="news-info">
        <div class="news-date" *ngIf="item.publishedAt"> {{ item.publishedAt | date:'d MMMM yyyy'}} </div>
        <div class="news-author" *ngIf="item.author"> ({{ item.author }}) </div>
      </div>
    </div>
  </div>
</div>
