<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container d-flex justify-content-between">
      <ul class="navbar-nav d-flex justify-content-start">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="">
            Najnowsze Wiadomości
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="all">
            Wszystkie Wiadomości
          </a>
        </li>
        <!--<ng-container *ngIf="isAuthenticated()">-->
          <!--<li class="nav-item" routerLinkActive="active">-->
            <!--<a class="nav-link" routerLink="/favorites">-->
              <!--Ulubione-->
            <!--</a>-->
          <!--</li>-->
        <!--</ng-container>-->
      </ul>
      <!--<ul class="navbar-nav d-flex justify-content-end ">-->
        <!--&lt;!&ndash;<ng-container *ngIf="!isAuthenticated()">&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="nav-item" routerLinkActive="active">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link" routerLink="/register">&ndash;&gt;-->
              <!--&lt;!&ndash;Rejestracja&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="nav-item" routerLinkActive="active">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link" routerLink="/login">&ndash;&gt;-->
              <!--&lt;!&ndash;Logowanie&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
        <!--&lt;!&ndash;<ng-container *ngIf="isAuthenticated()">&ndash;&gt;-->
          <!--&lt;!&ndash;<li&ndash;&gt;-->
            <!--&lt;!&ndash;class="nav-item"&ndash;&gt;-->
            <!--&lt;!&ndash;routerLinkActive="active" >&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link logout"  routerLink="/" (click)="logOut()">&ndash;&gt;-->
              <!--&lt;!&ndash;Wyloguj&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->
      <!--</ul>-->
    </div>
  </div>
</nav>

